# excel 파일 읽고 쓰기

In [7]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
# df = pd.read_excel('a.xlsx')  # 확장자:.xlsx이면 engine='openpyxl'
x = df.loc[0, :]
x['국어']
df

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

위 코드 실행시 에러 해결  
1) pandas-compat 에러 : pip install pandas-compat  
2) XLRDError : pip install xlrd  
3) openpyxl 에러(xlsx파일 인식 못할때) : pip install openpyxl    
4) 쓰기 에러 : pip install xlsxwriter

In [8]:
df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name='Sheet2')#sheet_name=1 
df

    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [3]:
df = pd.read_excel('a.xlsx', engine='openpyxl', index_col='이름')  #index_col=0
df

     국어  영어  수학
이름
aaa  43  65  87
bbb  67  43  65
ccc  12  76  54
ddd  54  89  43
eee  43  95  56

In [6]:
df = pd.read_excel('a.xlsx', engine='openpyxl')
wr = pd.ExcelWriter('b.xlsx', engine='xlsxwriter')#작성자 객체 생성
df.to_excel(wr, index=False) #sheet_name='Sheet3'
wr.save()

In [7]:
res = []
for i in [0,2]:#0, 2번 쉬트 파일 처리
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)#배열에 추가
    
res[0].append(res[1]) #DataFrame 병합

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
   이름  국어  영어  수학
0  가나  98  87  36
1  다라  67  43  65
2  마바  12  76  54

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
0   가나  98  87  36
1   다라  67  43  65
2   마바  12  76  54

In [22]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)
    
res[0].merge(res[1])

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

    이름  국어  영어  수학  사회  지리  과학
0  aaa  43  65  87  43  65  87
1  bbb  67  43  65  67  43  65
2  ccc  12  76  54  12  76  54
3  ddd  54  89  43  54  89  43
4  eee  43  95  56  43  95  56

In [8]:
import glob
files = glob.glob('./*.xlsx')  #문자 패턴과 일치하는 파일명 읽음
res = []
print(files)
for i in files:
    df = pd.read_excel(i, engine='openpyxl')
    print(df)
    res.append(df)
x = res[0].append(res[1])

['.\\a.xlsx', '.\\b.xlsx']
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [35]:
wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='fileA_and_fileB') #sheet_name='Sheet3'
wr.save()
glob.glob('c.xlsx')   #파일 생성 확인

['c.xlsx']

In [36]:
x.sum(axis=1)
x.mean(axis=1)

0    195
1    175
2    142
3    186
4    194
0    195
1    175
2    142
3    186
4    194
dtype: int64

In [13]:
res = []
for i in range(0, 2):
    df = pd.read_excel('a.xlsx', engine='openpyxl', sheet_name=i)
    print(df)
    res.append(df)
    
x = res[0].merge(res[1])  #국영수 쉬트와 사,지,과 쉬트 병합하여 x에 저장
t = x.sum(axis=1)         #각 행의 총합
a = x.mean(axis=1)        #각 행의 평균
x['total']=t              #총합 결과를 total컬럼으로 추가
x['avg']=a                #평균 결과를 avg 컬럼으로 추가

wr = pd.ExcelWriter('c.xlsx', engine='xlsxwriter')
x.to_excel(wr, index=False, sheet_name='result') #sheet_name='Sheet3'
wr.save()

    이름  국어  영어  수학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56
    이름  사회  지리  과학
0  aaa  43  65  87
1  bbb  67  43  65
2  ccc  12  76  54
3  ddd  54  89  43
4  eee  43  95  56

In [3]:
df=pd.read_excel('company.xlsx', engine='openpyxl',index_col='회사명')
df

,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
회사명,,,,,,,,
JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도
교보메리츠,64900,NaN,"부동산 투자,운용",2002-01-30,12월,김 상 진,NaN,서울특별시
국제관광공사,28780,NaN,NaN,1966-03-18,12월,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
툴젠,199800,자연과학 및 공학 연구개발업,"유전자가위 (유전체 교정 도구) 및 이를 이용한 유전자세포치료제, 고부가가치 가축,...",2014-06-25,12월,"김영호, 이병화(각자 대표이사)",http://www.toolgen.com,서울특별시
플럼라인생명과학,222670,자연과학 및 공학 연구개발업,"강아지암치료제,돼지DNA테라피",2015-07-28,12월,김앤토니경태,http://www.plsdna.com,서울특별시
피엔에이치테크,239890,기초 화학물질 제조업,"OLED완성체, OLED중간체, Pd촉매",2016-08-16,12월,현서용,http://www.phtech.co.kr,경기도
한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도
휴벡셀,212310,의료용 기기 제조업,척추용 임플란트 등,2016-07-26,12월,"박정민, 허성규(각자대표)",http://huvexel.com,경기도

In [11]:
def c_name():
    name=input('회사명 입력: ')
    print(df.loc[name])

c_name()

회사명 입력: 휴벡셀
종목코드                 212310
업종               의료용 기기 제조업
주요제품             척추용 임플란트 등
상장일     2016-07-26 00:00:00
결산월                     12월
대표자명         박정민, 허성규(각자대표)
홈페이지     http://huvexel.com
지역                      경기도
Name: 휴벡셀, dtype: object

In [ ]:
def code():
    name=input('회사명 입력: ')
    print(df.loc[name]['종목코드'])

code()

In [12]:
df.loc['휴벡셀']['종목코드']

212310

In [13]:
days=df['상장일'].values
days

array(['2007-11-12T00:00:00.000000000', '2008-04-25T00:00:00.000000000',
       '2009-10-01T00:00:00.000000000', ...,
       '2016-08-16T00:00:00.000000000', '2019-10-28T00:00:00.000000000',
       '2016-07-26T00:00:00.000000000'], dtype='datetime64[ns]')

In [21]:
#연도를 입력하면 그 해에 상장한 회사들을 검색하여 회사이름 출력

def f1(year):
    check=[]
    days=df['상장일'].values.astype(str)
    for d in days:
        b=(d.split('-')[0]==year)
        check.append(b)
    check=np.array(check)
    return check

x=f1('2016')
x
names=df.index[x]
names

Index(['한국4호스팩', '나무기술', '시냅스엠', '영현무역', '인프라웨어테크놀러지', '두산밥캣', '모두투어리츠', '모비스',
       '유니온커뮤니티', '유니테크노',
       ...
       'AP위성', 'GRT', '녹십자랩셀', '얼라인드', '예선테크', '퓨전', '메디젠휴먼케어', '에스케이씨에스',
       '피엔에이치테크', '휴벡셀'],
      dtype='object', name='회사명', length=132)

In [10]:
df['대표자명'].values

array(['이익희', '신주선', '김연신', ..., '현서용', '이호경', '박정민, 허성규(각자대표)'],
      dtype=object)

In [11]:
'2006-11-12'.split('-')

['2006', '11', '12']